@import "mixins";

$primary-color: #0070f3;
$accent-color: #656ed1;
$font-stack: Arial, sans-serif;

body {
  font-family: $font-stack;
  color: $primary-color;
  background-color: rgb(242, 242, 242);
  @include flex-center;
  height: 100dvh;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-field {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 0.25rem;
    color: #212529;
  }

  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    background-clip: padding-box;
    color: #212529;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
  }
  
}

.action-button {
  @include button-view;
  background-color: $accent-color;
  color: white;
  &:hover {
    background-color: #7C87FF;
  }
}

.card {
  @include flex-center;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 6px;
  gap: 4px;
  max-width: 600px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px black;
}

.flex-center {
  @include flex-center;

  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }
}
