@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin button-view {
  padding: 10px 30px;
  border-radius: 43px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
